<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<properties resource="kr/or/ddit/db/db.properties"/>
		
		<typeAliases>
			<typeAlias type="kr.or.ddit.user.model.UserVo" alias="userVo"/>
			<typeAlias type="kr.or.ddit.post.model.PageVo" alias="pageVo"/>
			<typeAlias type="kr.or.ddit.post.model.PostVo" alias="postVo"/>
			<typeAlias type="kr.or.ddit.board.model.BoardVo" alias="boardVo"/>
			<typeAlias type="kr.or.ddit.post.model.ReplyVo" alias="replyVo"/>
		</typeAliases>
		
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
       <dataSource type="POOLED"> 
         <property name="driver" value="${db.driver}"/> 
         <property name="url" value="${db.url}"/> 
         <property name="username" value="${db.username}"/> 
         <property name="password" value="${db.password}"/>
       </dataSource> 
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/db/user.xml"/>
    <mapper resource="kr/or/ddit/db/board.xml"/>
    <mapper resource="kr/or/ddit/db/post.xml"/>
    <mapper resource="kr/or/ddit/db/reply.xml"/>
  </mappers>
</configuration>